<template>
    <footer class="container-fluid" id="footer">
        <div class="row justify-content-center px-3 py-1">
            <div class="col-10">

                <div class="row">
                    <div class="col-12 col-sm pl-0 mr-auto">
                        <span class="align-middle">
                            e-mail:&nbsp;
                            <a href="mailto:pwoosam5@icloud.com">
                                pwoosam5@icloud.com
                            </a>
                        </span>
                    </div>

                    <div class="col-auto text-center pl-0 pr-2">
                        <a class="clickable" target="_blank" href="https://github.com/pwoosam/">
                            <i class="fab fa-2x fa-github"></i>
                        </a>
                    </div>

                    <div class="col-auto text-center px-2">
                        <a class="clickable" target="_blank" href="https://www.facebook.com/patrick.woosam.5/">
                            <i class="fab fa-2x fa-facebook"></i>
                        </a>
                    </div>

                    <div class="col-auto text-center px-2">
                        <a class="clickable" target="_blank" href="https://www.linkedin.com/in/pwoosam/">
                            <i class="fab fa-2x fa-linkedin"></i>
                        </a>
                    </div>

                    <div class="col-auto text-center pl-2 pr-0">
                        <a class="clickable" target="_blank" href="https://twitter.com/pwoosam5/">
                            <i class="fab fa-2x fa-twitter"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </footer>
</template>