<template>
    <div class="no-overflow" id="bgImageContainer">
    </div>

    <nav class="navbar navbar-expand-md navbar-light" id="topbar">

        <a class="navbar-brand"></a>
        <button class="navbar-toggler" id="toggleBtn" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item px-3 ${nav.isActive ? 'active' : ''}" repeat.for="nav of router.navigation">
                    <a class="nav-link" href.bind="nav.href">${nav.title}</a>
                </li>
            </ul>
        </div>
    </nav>
</template>
